.profile-container {

    display: flex;

    align-items: center;

    justify-content: center;

  min-height: 70vh;

}


#profile {

    background-color: tomato;

    padding: 1rem 3rem;

    flex-basis: 20rem;

    text-align: center;

    border-radius: 1rem;

}


.profile-img {

    border-radius: 50%;

    box-shadow: 1px 1px 5px 0 #000;

    width: 10rem;

    margin: 2rem 0;

    background-color: #ffffff;

}


.products-link {

    font-size: 2rem;

    color: #000000;

    text-decoration: none;

    transition: all .5s;

}


.products-link:hover {

    transform: scale(1.2);

}