* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main, header {
    margin: 5vh 10vw;
}
header {
    display: flex;
    justify-content: space-between;
}

/* ---------- Products ---------- */
#products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.product {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 1rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-photo {
    max-width: 100px;
    box-shadow: 0 0 5px #000;
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    background-color: #ffffff;
}
.product a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 5px 0;
}
button {
    cursor: pointer;
    font-size: 1.4rem;
    border-radius: 10px;
    border: none;
    min-width: 50%;
}

/* -----Cart----- */
#cart-button {
    background: none;
    border: none;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #000000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}
#cart {
    position: relative;
}
#cart-button img {
    max-width: 32px;
    max-height: 32px;
}
#cart-button:hover {
    background-color: rgb(170, 170, 255);
}

@media screen and (max-width:1000px){
   #products-grid{
    grid-template-columns: repeat(2, 1fr);
   }

}
@media all and (max-width:500px){
    #products-grid{
     grid-template-columns: repeat(1, 1fr);
    }
 
 }
